<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>homepage</title>
</head>

<body>
    <div class="nav">
        <div class="left">
            <a href="/"><img src="/pngwing.com (2).png" alt=""></a>
        </div>
        <div class="mid">
            <a href="">Vehicles</a>
            <a href="">Energy</a>
            <a href="">Charging</a>
            <a href="">Discover</a>
            <a href="">Shop</a>
        </div>
        <div class="right">
            <a href=""><img src="/download.png" alt=""></a>
        </div>
    </div>

    <div class="mainvid">
        <div class="word">
            <h1>TESLA</h1>
            <hr>
            <p>Shaping Tomorrow's Green Mobility.</p>

            <br>
            <button>Discover More <i class="fa-solid fa-circle-chevron-right"></i></button>
            
        </div>
        <video autoplay loop muted src="/Untitled video - Made with Clipchamp (10).mp4"></video>
        <div class="w">
            <p>Ultra Red paint now available for Model S & Model X vehicles </p>
        </div>

    </div>

</body>

</html>